ul.example1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    list-style: none;
    width: 300px;
    color: black;
}

ul.example1 li {
    padding: 10px 20px;
}

ul.example1 li+li {
    border-top: 1px solid #ccc;
}

ul.example1 a {
    color: black;
    text-decoration: none;
}



ul.example2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    list-style: none;
    width: 300px;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

ul.example2 li+li {
    border-top: 1px solid #ccc;
}

ul.example2 a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

ul.example2 a:hover {
    background-color: #3c31a3;
    color: white;

}



ul.example3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    list-style: none;
    width: 300px;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

ul.example3 li {
    position: relative;
}

ul.example3 li a {
    display: block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
}

ul.example3 li+li {
    border-top: 1px solid #ccc;
}

ul.example3 a span {
    position: absolute;
    right: 20px;
    font-size: 12px;
    display: inline-block;
    padding: 2px 10px;
    background-color: #2e71d6;
    color: white;
    border-radius: 14px;
}

ul.example3 a:hover {
    background-color: #3c31a3;
    color: white;
}

ul.example3 a:hover span {
    background-color: white;
    color: #2e71d6;
}

ul.example4 {
    list-style-image: url(../listas/icons/icons8-sd-32.png);
}




ul.example5 {
    counter-reset: step-counter;
    list-style-type: none;
    margin: 0;
}

ul.example5 li::before {
    counter-increment: step-counter;
    content: counter(step-counter);
    background-color: black;
    padding: 5px;
    font-size: 15px;
    color: white;
    border-radius: 50%;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
}