/*1. Selecciona los elementos div que sean hijos de otro div*/
div > div {
    background-color: red;
}

/*2. Selecciona los hijos de los elementos p*/
p > * {
    background-color: blue;
}

/*3. Selecciona los elementos p que sean hijos de article*/
article > p {
    background-color: green;
}

/*4. Selecciona los p que esten dentro de un article*/
article p {
    background-color: yellow;
}

/*5. Selecciona los titulos h1 y los h3*/
h1, h3 {
    background-color: pink;
}

/*6. Selecciona los ol que esten dentro de body*/
body ol {
    background-color: purple;
}

/*7. Cualquier elemento que tenga la clase "amarillo*/
[class="amarillo"] {
    background-color: orange;
}

/*8. Los elementos <ul> que sean hijos de body*/
body > ul {
    background-color: brown;
}

/*9. Los elementos <a> que sean hijos de <p>*/
p > a {
    background-color: gray;
}

/*10. Selecciona el elemento con id "platano"*/
#platano {
    background-color: black;
}

/*11. Todos los elementos <div> que sean hermanos de un elemento <h2>*/
h2 ~ div {
    background-color: white;
}

/*12. Todos los elementos <p> con clase = paisa, descendientes de un elemento <ul>*/
ul p.paisa {
    background-color: cyan;
}

/*13. Selecciona los <h1>, <h2>, <h3> que tengan la clase "headertitle", hijos de header*/
h1.headertitle h2.headertitle h3.headertitle {
    background-color: magenta;
}