*   {
    margin: 10px;
}

span {
    color: red;
}

.faltante {
    color: blue;
}

#secreto {
    color: green;
}

li {
    color: yellow;
}

.grande {
    font-size: 2rem;
}

p.faltante {
    font-size: 1.5rem;
}

p[class] {
    font-size: 1.2rem;
}